<h2> Menu : </h2>
<ul>
	<% @menu_items.each do |item| %>
		<li class="container card z-depth-5">
			<div>
				name : <%= item.name %>
			</div>
			<div>
				price: <%= item.price %>
			</div>
		</li>
	<% end %>
</ul>